<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="margin-t-10">
        <ion-button class="ico1" fill="clear" size="small" color="vino" (click)="back()">
          <ion-icon name="chevron-back-outline" color="vino"></ion-icon>
        </ion-button>

        <ion-button class="ico2" fill="clear" color="vino" size="small" (click)="openMenu()">
          <ion-icon src="/assets/img/hencok-logomenu1.svg"></ion-icon>
        </ion-button>
        <ion-img class="imagen-logo ion-text-center" src="/assets/img/logo-hencok2.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="form margin-l-20">
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <h5 class="ion-text-left">
          <ion-text class="ion-text-left text-bold margin-b-0" color="vino">Hencok {{'BARCOS' | translate}}</ion-text>
        </h5>
        <h1 class="ion-text-left text-bold margin-t-10 margin-b-0">
          <ion-text>{{'NUESTRA_FLOTA' | translate}}</ion-text>
        </h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Buscador -->
  <ion-grid class="padding-rl">
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-item class="color-fondo formulario">
          <ion-label class="color-label">Plazas</ion-label>
          <ion-select [(ngModel)]="plazas" doneText="Ok" cancelText="Cancelar" icon="chevron-down-outline">
            <ion-select-option *ngFor="let plaza of plazas">
              {{plaza.description}}
            </ion-select-option>
          </ion-select>
          <ion-icon src="/assets/img/002-down-arrow1.svg"></ion-icon>
        </ion-item>
        <ion-item class="color-fondo formulario">
          <ion-label class="color-label">Baños</ion-label>

          <ion-select doneText="Ok" cancelText="Cancelar" icon="chevron-down-outline">
            <ion-select-option *ngFor="let ba of toilets">
              {{ba.description}}
            </ion-select-option>
          </ion-select>

          <ion-icon src="/assets/img/002-down-arrow1.svg"></ion-icon>
        </ion-item>

        <ion-item class="color-fondo formulario">
          <ion-label class="color-label">Plazas para Dormir</ion-label>
          <ion-select doneText="Ok" cancelText="Cancelar" icon="chevron-down-outline">
            <ion-select-option *ngFor="let pla of plaDormir">
              {{pla.description}}
            </ion-select-option>
          </ion-select>
          <ion-icon src="/assets/img/002-down-arrow1.svg"></ion-icon>
        </ion-item>

        <ion-item class="color-fondo formulario">
          <ion-label class="color-label">Camarotes</ion-label>
          <ion-select doneText="Ok" cancelText="Cancelar">
            <ion-select-option *ngFor="let  camarote of camarotes">
              {{camarote.description}}
            </ion-select-option>
          </ion-select>
          <ion-icon src="/assets/img/002-down-arrow1.svg"></ion-icon>
        </ion-item>

        <ion-item class="color-fondo formulario">
          <ion-label class="color-label">Patron</ion-label>
          <ion-select doneText="Ok" cancelText="Cancelar" icon="chevron-down-outline">
            <ion-select-option *ngFor="let pat of patron">
              {{pat.description}}
            </ion-select-option>
          </ion-select>
          <ion-icon src="/assets/img/002-down-arrow1.svg"></ion-icon>
        </ion-item>

        <ion-item class="color-fondo formulario">
          <ion-label class="color-label">Tripulacion</ion-label>
          <ion-select doneText="Ok" cancelText="Cancelar" icon="chevron-down-outline">
            <ion-select-option *ngFor="let tri of tripulacion">
              {{tri.description}}
            </ion-select-option>
          </ion-select>
          <ion-icon src="/assets/img/002-down-arrow1.svg"></ion-icon>
        </ion-item>

        <div class="ion-text-center width-100">
          <ion-spinner *ngIf="spinnerForm" color="vino" name="crescent"></ion-spinner>
        </div>
        <ion-button [disabled]="spinnerForm" expand="block" class="btn" (click)="search()">{{'BUSCAR' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- EndBuscador -->

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner>
      </ion-col>

      <ion-col size="12" *ngFor="let yate of yates" class="imagenY">
        <ion-img *ngIf="free_access_id == '' " [src]="yate.photo_path" class="ion-padding"
          routerLink="/detallesyates/{{yate.code}}"></ion-img>
        <ion-img *ngIf="free_access_id != '' " [src]="yate.full_photo" class="ion-padding"
          (click)="addProduct(yate.code)"></ion-img>
        <ion-item class="color-fondo" lines="none">
          <h3 class="ion-text-left text-bold">
            <ion-text class="text-bold titulo-c" *ngIf="free_access_id == '' "
              routerLink="/detallesyates/{{yate.code}}">
              {{yate.name}}
            </ion-text>
          </h3>
          <h3 class="ion-text-left text-bold">
            <ion-text class="text-bold titulo-c" *ngIf="free_access_id != '' " (click)="addProduct(yate.code)">
              {{yate.name}}
            </ion-text>
          </h3>
          <ion-button *ngIf="free_access_id == '' " slot="end" class="texto-m" size="default" color="vino"
            routerLink="/detallesyates/{{yate.code}}">
            {{'DESDE' | translate}} {{yate.from_price}}€
          </ion-button>
          <ion-button *ngIf="free_access_id != '' " slot="end" class="texto-m" size="default" color="vino"
            (click)="addProduct(yate.code)">
            {{'DESDE' | translate}} {{yate.price}}€
          </ion-button>
        </ion-item>
      </ion-col>

      <ion-col size="12" *ngIf="!spinner && yates.length == 0">
        <h5 class="ion-text-center text-bold">{{'NO_DATOS' | translate}}</h5>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-grid class="espacio">
    <h6 class="ion-text-center">
      <ion-text class="texto-footer text-color" (click)="gotopoliticas()">{{'POLITICA_PRIVACIDAD' | translate}}
      </ion-text>
      <ion-text class="text-color"> | </ion-text>
      <ion-text class="texto-footer text-color" (click)="gotoaviso()">{{'AVISO_LEGAL' | translate}}</ion-text>
    </h6>
  </ion-grid>
</ion-content>