<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-padding padding-rl">
        <ion-row class="">
          <ion-col size="8">
            <img src="/assets/img/logo-hencok2.png">
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" color="vino" (click)="openMenu()">
              <ion-icon slot="icon-only" src="/assets/img/hencok-logomenu1.svg"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="titulos ">
          <h5 class="ion-text-left text-bold margin-b-0 width-100">
            <ion-text color="vino">{{'BIENVENIDO' | translate}} {{'A' | translate}} Hencok</ion-text>
          </h5>
          <h1 class="ion-text-left text-bold margin-t-10 margin-b-0 width-100">
            <ion-text>{{'REGISTRATE' | translate}}</ion-text>
          </h1><br>
          <h5 class="ion-text-center">
            <ion-text class="texto-footer" color="vino" (click)="gotologin()">{{'YA_POSEES_CUENTA' | translate}} {{'INICIA_SESION' | translate}}
            </ion-text>
          </h5>
        </ion-row>

        <ion-row class="form ">
          <ion-col size="12">
              <ion-list lines="none">
                <form [formGroup]="FormularioLogin">
                  <ion-item>
                    <ion-input formControlName="username" placeholder="{{'NOMBRE_DE_USUARIO' | translate}}"></ion-input>
                  </ion-item>
                  <span class="ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.required">
                    Nombre de Usuario no puede quedar vacio
                  </span>
                  <ion-item>
                    <ion-input formControlName="email" placeholder="{{'CORREO' | translate}}" type="email"></ion-input>
                  </ion-item>
                  <span class="ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
                    Correo no puede quedar vacio
                  </span>
                  <span class="ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
                    Proporcione un correo valido
                  </span>
                  <ion-item>
                    <ion-input formControlName="password" placeholder="{{'CONTRASENA' | translate}}" type="password"></ion-input>
                  </ion-item>
                  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
                   Contraseña no puede quedar vacio
                  </span>
                  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.pattern">
                   Prorcione una contraseña valida: tamaño minino 8, una letra minuscula,una letra mayuscula, un digito y un 
                   simbolo -!#$%&/()?¡_
                   </span>
                  <ion-item>
                    <ion-input formControlName="name" placeholder="{{'NOMBRES' | translate}}" type="text"></ion-input>
                  </ion-item>
                  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
                    Nombre no puede quedar vacio
                   </span>
                  <ion-item>
                    <ion-input formControlName="surname" placeholder="{{'APELLIDOS' | translate}}"></ion-input>
                  </ion-item>
                  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.surname.errors?.required">
                    Apellido no puede quedar vacio
                   </span>
                </form>
              </ion-list>
              <ion-button expand="block" color="vino" class="btn" (click)=' Registro()'>{{'REGISTRATE' | translate}}</ion-button>
          

          </ion-col>
        </ion-row>
        
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="espacio">
    <h6 class="ion-text-center">
      <ion-text class="texto-footer" color="vino" (click)="gotopoliticas()">{{'POLITICA_PRIVACIDAD' | translate}}</ion-text>
      <ion-text color="vino"> | </ion-text>
      <ion-text class="texto-footer " color="vino" (click)="gotoaviso()">{{'AVISO_LEGAL' | translate}}</ion-text>
    </h6>
  </ion-grid>

</ion-content>