<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-padding padding-rl">

        <ion-row>
          <ion-col size="8" class="">
            <img class="" src="/assets/img/logo-hencok2.png">
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" color="vino" (click)="openMenu()">
              <ion-icon slot="icon-only" src="/assets/img/hencok-logomenu1.svg"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="titulos">
          <h5 class="ion-text-left text-bold margin-b-0">
            <ion-text color="vino">Hencok</ion-text>
          </h5>
        </ion-row>
        <h1 class="ion-text-left text-bold margin-t-10 margin-b-0">
          <ion-text>Recuperacion de Contraseña</ion-text>
        </h1>

        

        <ion-row class="form">
          <ion-text>Por favor, complete el formulario con el nombre de usuario o correo electrónico y envíelo para
              restablecer su contraseña</ion-text>
          <ion-col size="12">
            <ion-list lines="none">
              <ion-item>
                <ion-input [(ngModel)]="username" placeholder="Usuario o correo electronico"></ion-input>
              </ion-item>
            </ion-list>
            <div class="ion-text-center width-100">
              <ion-spinner *ngIf="spinnerForm" color="vino" name="crescent"></ion-spinner>
            </div>
            <ion-button [disabled]="spinnerForm" expand="block" color="vino" class="btn" (click)="enviar()">Enviar</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="espacio">
    <h6 class="ion-text-center">
      <ion-text class="texto-footer text-color" (click)="gotopoliticas()">{{ 'POLITICA_PRIVACIDAD' | translate }}</ion-text>
      <ion-text class="text-color"> | </ion-text>
      <ion-text class="texto-footer text-color" (click)="gotoaviso()">{{ 'AVISO_LEGAL' | translate }}</ion-text>
    </h6>
  </ion-grid>

</ion-content>