<ion-content [fullscreen]="true">

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="margin-t-10">
          <ion-button class="ico1" fill="clear" size="small" color="vino" (click)="back()">
            <ion-icon name="chevron-back-outline" color="vino"></ion-icon>
          </ion-button>
          <ion-button class="ico2" fill="clear" color="vino" size="small" (click)="openMenu()">
            <ion-icon src="/assets/img/hencok-logomenu1.svg"></ion-icon>
          </ion-button>
          <ion-img class="imagen-logo ion-text-center" src="/assets/img/logo-hencok2.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="form padding-rl">
      <ion-row>
        <ion-col size="12" class="ion-padding">
          <h5 class="ion-text-left">
            <ion-text class="ion-text-left text-bold margin-b-0" color="vino">Hencok</ion-text>
          </h5>
          <h1 class="ion-text-left text-bold margin-t-10 margin-b-0">
            <ion-text>Avilo Legal</ion-text>
          </h1>
        </ion-col>
      </ion-row>
    </ion-grid>

  <ion-grid class="padding-rl">
    <ion-col size="12" >
      <h5>
        <p>
          Hendrerit vulputate dictum maecenas dignissim dictumst. Consequat euismod sit at vel sociis pulvinar in eget morbi! Molestie enim netus semper molestie fames auctor. Justo himenaeos metus quis arcu. Vestibulum netus leo rutrum. Eros consectetur, mi penatibus quam suscipit nulla nulla platea nostra? Dis diam nisi volutpat fusce venenatis tellus ligula?
          </p>
          <p>
          Nostra eros magnis maecenas. Luctus lorem adipiscing mus commodo velit imperdiet elit. Praesent commodo iaculis habitasse ac lobortis nascetur amet eleifend fusce. Mauris adipiscing facilisi augue consequat lacus himenaeos laoreet gravida duis neque eros! Sociosqu, elit nascetur egestas volutpat aliquam. Malesuada amet aenean maecenas faucibus ultrices semper magnis diam. Nec conubia cras sit sit nibh sapien ad adipiscing. Sociosqu netus semper blandit interdum turpis sociis cursus hendrerit integer euismod etiam.
          </p>
          <p>
          Nulla consequat mi dolor ridiculus nullam dictum integer adipiscing suscipit. Litora imperdiet taciti fringilla. Dui nec velit morbi fames purus lacinia quisque litora pellentesque nibh facilisis litora. Montes dui magnis maecenas ornare iaculis morbi praesent. Dis habitant aenean aliquam magna elit nulla nunc tincidunt blandit. Cum suspendisse orci mauris, eu felis platea eu mollis faucibus. Quam odio at ad semper venenatis convallis et dolor gravida maecenas. Dictumst imperdiet tempus fames.
          </p>
          <p>
          Tortor etiam taciti justo ullamcorper, nibh posuere consectetur hac phasellus eleifend etiam. Odio himenaeos tempus augue. Ridiculus maecenas in ullamcorper aptent vitae, litora libero gravida fermentum? Quam erat egestas habitant porttitor senectus quam tristique lorem nam magnis purus. Viverra lorem dis eu curabitur vehicula aenean egestas sed! Fermentum consequat consequat diam dis libero. Odio curabitur curae; sagittis quis duis eu faucibus. Purus metus quisque pulvinar enim nostra mus tempus ornare massa adipiscing. Cum vel etiam pharetra pharetra, natoque ante massa laoreet class consequat massa.
          </p>
          <p>
          Pellentesque lacus convallis erat venenatis parturient turpis cubilia consectetur dis euismod cubilia. At torquent class ut, blandit facilisis nam velit massa. Auctor sagittis tempor quisque neque luctus dictum ac felis lacinia, sodales vitae! Blandit, mi ultrices molestie phasellus porta ac felis? Facilisi netus ultrices dapibus accumsan lacinia maecenas velit dictumst tellus. Iaculis, integer lacinia facilisis viverra mauris consequat nisl tellus. Tortor pulvinar et id platea parturient, mauris tristique fermentum litora eu platea senectus! Curae;.
          </p>
      </h5>
    </ion-col>
</ion-grid>

<ion-grid class="espacio">
  <h6 class="ion-text-center">
    <ion-text class="texto-footer text-color" (click)="gotopoliticas()">Politica de Privacidad</ion-text>
    <ion-text class="text-color"> | </ion-text>
    <ion-text class="texto-footer text-color" (click)="gotopoliticas()">Aviso Legal</ion-text>
  </h6>
</ion-grid>

</ion-content>
