<ion-content [fullscreen]="true">

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="margin-t-10">
          <ion-button class="ico1" fill="clear" size="small" color="vino" (click)="back()">
            <ion-icon name="chevron-back-outline" color="vino"></ion-icon>
          </ion-button>
          <ion-button class="ico2" fill="clear" color="vino" size="small" (click)="openMenu()">
            <ion-icon src="/assets/img/hencok-logomenu1.svg"></ion-icon>
          </ion-button>
          <ion-img class="imagen-logo ion-text-center" src="/assets/img/logo-hencok2.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="form padding-rl">
      <ion-row>
        <ion-col size="12" class="ion-padding">
          <h5 class="ion-text-left">
            <ion-text class="ion-text-left text-bold margin-b-0" color="vino">Hencok</ion-text>
          </h5>
          <h1 class="ion-text-left text-bold margin-t-10 margin-b-0">
            <ion-text>Política de Privacidad</ion-text>
          </h1>
        </ion-col>
      </ion-row>
    </ion-grid>
<ion-grid class="margen">
  <ion-col size="12">
    <h5>
      <p>
        La navegación y uso de la página web www.hencok.com implicará la adhesión plena y sin reservas a todas y cada
        una de las condiciones de esta Política de privacidad.
      </p>
      <h3 class="text-bold">
        Confidencialidad, protección de datos y finalidades
      </h3>
      <p>
        A efecto de lo previsto en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal,
        se informa al Usuario de la existencia de un fichero automatizado de datos de carácter personal creado para
        www.hencok.com, con las siguientes finalidades; a) Realizar el mantenimiento y gestión de la relación con el Usuario,
        b) Labores de información y prestación de los servicios solicitados, c) Adecuación de los servicios a sus preferencias
        y necesidades, d) Realizar acciones comerciales encaminadas a ofrecerle productos, servicios u ofertas especiales. En
        el momento de la aceptación de las presentes condiciones generales, www.hencok.com precisará del Usuario la recogida
        de unos datos imprescindibles para la prestación de sus servicios.
      </p>
      <h3 class="text-bold">
        Registro de ficheros y formularios
      </h3>
      <p>
        La cumplimentación del formulario de registro es obligatoria para acceder y disfrutar de determinados servicios
        ofrecidos en la web. El no facilitar los datos personales solicitados o el no aceptar la presente política de
        protección de datos supone la imposibilidad de suscribirse, registrarse o participar en cualquiera de las promociones
        en las que se soliciten datos carácter personal.
      </p>
      <p>          
        De acuerdo a lo establecido en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter
        Personal, le informamos que los datos personales que se obtengan como consecuencia del envío de su registro o del
        formulario de contacto, serán incorporados a un fichero titularidad de www.hencok.com teniendo implementadas las
        medidas de seguridad establecidas en el Real Decreto 1720/2007.
      </p>
      <h3 class="text-bold">
        Cesión de datos a terceros
      </h3>
      <p>
        Le informamos de que sus datos personales podrán ser cedidos organizaciones o personas directamente relacionadas con
        el responsable; bancos, cajas de ahorro y cajas rurales; entidades dedicadas al cumplimiento/incumplimiento de
        obligaciones dinerarias; empresas dedicadas a publicidad o mk directo con las mismas finalidades que se han indicado
        para la recogida de los datos personales, garantizando en todo caso la confidencialidad en el tratamiento de los datos
        de carácter personal y aplicándose lo dispuesto en la presente Política de Protección de Datos de Carácter Personal.
      </p>
      <h3 class="text-bold">
        Ejercicio de derechos de acceso, rectificación, cancelación y oposición
      </h3>
      <p>
        El cliente podrá revocar los consentimientos expresos prestados en cualquier momento y podrá dirigir sus
        comunicaciones y ejercitar los derechos de acceso, rectificación, cancelación y oposición por correo ordinario
        dirigido a www.hencok.com, Ref. LOPD a través del correo electrónico info@hencok.com.Para ejercer dichos derechos y en
        cumplimiento de la Instrucción 1/1998, de 19 de enero, de la Agencia de Protección de Datos, es necesario que usted
        acredite su personalidad frente a www.hencok.com mediante el envío de fotocopia de Documento Nacional de Identidad o
        cualquier otro medio válido en Derecho.
      </p>
      <h3 class="text-bold">
        Aceptación y Consentimiento
      </h3>
      <p>
        El Usuario declara haber sido informado, previamente a facilitar sus datos, de las condiciones del servicio y la
        política de privacidad, aceptando ambas, y además, aceptando y consintiendo el tratamiento automatizado de los mismos
        por parte de www.hencok.com, en la forma y para las finalidades indicadas en la presente Política de Protección de
        Datos Personales. El usuario consiente expresamente la remisión de información comercial sobre productos y servicios
        por cualquier medio, incluidos los electrónicos. Ciertos servicios prestados en el Portal pueden contener condiciones
        particulares con previsiones específicas en materia de protección de Datos Personales.
      </p>
    </h5>
  </ion-col>
</ion-grid>

<ion-grid class="espacio">
  <h6 class="ion-text-center">
    <ion-text class="texto-footer text-color" (click)="gotopoliticas()">Politica de Privacidad</ion-text>
    <ion-text class="text-color"> | </ion-text>
    <ion-text class="texto-footer text-color" (click)="gotoaviso()">Aviso Legal</ion-text>
  </h6>
</ion-grid>

</ion-content>
