<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-padding padding-rl">
        <ion-row>
          <ion-col size="8">
            <img src="/assets/img/logo-hencok2.png">
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" color="vino" (click)="openMenu()"><ion-icon slot="icon-only" src="/assets/img/hencok-logomenu1.svg"></ion-icon></ion-button>  
          </ion-col>
        </ion-row>
        
        <ion-row class="titulos">
          <h5 class="ion-text-left text-bold margin-b-0"><ion-text color="vino">{{'BIENVENIDO' | translate }} {{'A' | translate}} Hencok</ion-text></h5>
          <h1 class="ion-text-left text-bold margin-t-10 margin-b-0"><ion-text>{{'ACCEDE_A_TU_PANEL_DE_CONTROL' | translate}}</ion-text></h1>
          <h5 class="ion-text-center">
            <ion-text class="texto-footer" color="vino" (click)="gotosignin()">{{'NO_TIENES_CUENTA' | translate}} {{'REGISTRATE' | translate}} </ion-text>
          </h5>        
        </ion-row>
        
        <ion-row class="form">
          <ion-col size="12">
            <ion-list lines="none">
              <ion-item>
                <ion-input [(ngModel)]="username" placeholder="{{'NOMBRE_DE_USUARIO' | translate}}" type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input  [(ngModel)]="password" placeholder="{{'CONTRASENA' | translate}}" type="password"></ion-input>
              </ion-item>
            </ion-list>
            <div class="ion-text-center width-100">
              <ion-spinner *ngIf="spinnerForm" color="vino" name="crescent"></ion-spinner>
              <p *ngIf="usuarioError"><ion-text color="vino">{{'USUARIO_CONTRASENA_ERROR' | translate}}</ion-text></p>
            </div>
            <ion-button [disabled]="spinnerForm" expand="block" color="vino" class="btn" (click)="Login()">{{'ENTRAR' | translate}}</ion-button>
           </ion-col>
        </ion-row>
        
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="espacio">
    <h6 class="ion-text-center">
      <ion-text class="texto-footer" color="vino">{{'HAS_OLVIDADO_TU_CONTRASENA' | translate}}</ion-text>
    </h6>
  </ion-grid>
  
</ion-content>
