<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="margin-t-10">
        <ion-button class="ico1" fill="clear" size="small" color="vino" (click)="back()">
          <ion-icon name="chevron-back-outline" color="vino"></ion-icon>
        </ion-button>

        <ion-button class="ico2" fill="clear" color="vino" size="small" (click)="openMenu()">
          <ion-icon src="/assets/img/hencok-logomenu1.svg"></ion-icon>
        </ion-button>
        <ion-img class="imagen-logo ion-text-center" src="/assets/img/logo-hencok2.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-col size="12" class="padding-rl">
    <ion-row class="titulos padding-rl">
      <h5 class="text-bold">
        <ion-text color="vino" class="margin-b-10">Hencok Barcos</ion-text>
      </h5>
    </ion-row>
    <h1 class="text-bold">
      <ion-text>{{cars.name}}</ion-text>
    </h1>
  </ion-col>
  <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner>

  <ion-col size="12">
    <ion-img [src]="cars.photo_path" class="ion-padding"></ion-img>
    <h3 class="margin-l-40">
      <p [innerHTML]="cars.description" class=""></p>
    </h3>
  </ion-col>


  <ion-grid class="padding-rl">
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-item class="color-fondo">
          <ion-label class="color-label">Lugar de entrega</ion-label>
          <ion-select doneText="Ok" cancelText="Cancelar" icon="chevron-down-outline">
            <ion-select-option value="1">Ibiza - Polígono industrial Can Frigole</ion-select-option>
            <ion-select-option value="2">Madrid - Calle Medina de Pomar 22</ion-select-option>
          </ion-select>
          <ion-icon src="/assets/img/002-down-arrow1.svg"></ion-icon>
        </ion-item>

        <ion-item class="color-fondo">
          <ion-label class="color-label">Fecha de entrega</ion-label>
          <ion-datetime doneText="Ok" cancelText="Cancelar" displayFormat="DD/MM/YYYY"></ion-datetime>
          <ion-icon src="/assets/img/001-calendar1.svg"></ion-icon>
        </ion-item>

        <ion-item class="color-fondo">
          <ion-label class="color-label">Hora de entrega</ion-label>
          <ion-datetime doneText="Ok" cancelText="Cancelar" displayFormat="HH:mm"></ion-datetime>
          <ion-icon src="/assets/img/003-clock1.svg"></ion-icon>
        </ion-item>

        <ion-item class="color-fondo">
          <ion-label class="color-label">Lugar de devolución</ion-label>
          <ion-select doneText="Ok" cancelText="Cancelar">
            <ion-select-option value="1">Ibiza - Polígono industrial Can Frigole</ion-select-option>
            <ion-select-option value="2">Madrid - Calle Medina de Pomar 22</ion-select-option>
          </ion-select>
          <ion-icon src="/assets/img/002-down-arrow1.svg"></ion-icon>
        </ion-item>

        <ion-item class="color-fondo">
          <ion-label class="color-label">Fecha de devolución</ion-label>
          <ion-datetime doneText="Ok" cancelText="Cancelar" displayFormat="DD/MM/YYYY"></ion-datetime>
          <ion-icon src="/assets/img/001-calendar1.svg"></ion-icon>
        </ion-item>

        <ion-item class="color-fondo">
          <ion-label class="color-label">Hora de devolución</ion-label>
          <ion-datetime doneText="Ok" cancelText="Cancelar" displayFormat="HH:mm"></ion-datetime>
          <ion-icon src="/assets/img/003-clock1.svg"></ion-icon>
        </ion-item>

        <ion-button expand="block" class="btn" routerLink="/reservayates">Reservar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="espacio">
    <h6 class="ion-text-center">
      <ion-text class="texto-footer text-color" (click)="go('')">Politica de Privacidad</ion-text>
      <ion-text class="text-color"> | </ion-text>
      <ion-text class="texto-footer text-color" (click)="go('')">Aviso Legal</ion-text>
    </h6>
  </ion-grid>
</ion-content>