<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="margin-t-10">
        <ion-button class="ico1" fill="clear" size="small" color="vino" (click)="back()">
          <ion-icon name="chevron-back-outline" color="vino"></ion-icon>
        </ion-button>

        <ion-button class="ico2" fill="clear" color="vino" size="small" (click)="openMenu()">
          <ion-icon src="/assets/img/hencok-logomenu1.svg"></ion-icon>
        </ion-button>
        <ion-img class="imagen-logo ion-text-center" src="/assets/img/logo-hencok2.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner>
      </ion-col>
      <ion-col size="12" class="ion-padding padding-rl">
        <ion-row class="titulos">
          <h5 class="ion-text-left text-bold margin-b-0">
            <ion-text color="vino">Hencok Coches</ion-text>
          </h5>
          <h1 class="ion-text-left text-bold margin-t-10 margin-b-0"><br>
            <ion-text>Datos del Conductor</ion-text>
          </h1>
        </ion-row>
          
        <ion-row class="form">
          <ion-col size="12">
            <ion-list lines="none">
              <ion-item class="item-form">
                <ion-input [(ngModel)]="nombre" placeholder="Nombre*"></ion-input>
              </ion-item>
              <ion-item class="item-form">
                <ion-input [(ngModel)]="apellidos" placeholder="Apellidos*"></ion-input>
              </ion-item>
              <ion-item class="item-form">
                <ion-input [(ngModel)]="email" placeholder="Email*"></ion-input>
              </ion-item>
              <ion-item class="item-form">
                <ion-input [(ngModel)]="confirmEmail" placeholder="Confirma tu email"></ion-input>
              </ion-item>
              <ion-item class="item-form">
                <ion-input [(ngModel)]="telefono" placeholder="Telefono*"></ion-input>
              </ion-item>
              <ion-item class="item-form">
                <ion-input [(ngModel)]="telefonoAlternativo" placeholder="Telefono alternativo"></ion-input>
              </ion-item>
              <ion-item class="item-form">
                <ion-textarea [(ngModel)]="comentarios" placeholder="Comentarios"></ion-textarea>
              </ion-item>
              <ion-radio-group [(ngModel)]="tipoPago">
              <ion-item class="color-fondo">
                <ion-radio  value="solicitud_reserva" mode="android" color="vino" slot="start"></ion-radio>
                <label><h6>
                  <ion-text class="">Solicitud de Reserva</ion-text>
                </h6></label>
              </ion-item>
              <ion-item class="color-fondo">
                <ion-radio  value="pagar_ahora" mode="android" color="vino" slot="start"></ion-radio>
                <label><h6>
                  <ion-text class="">Pagar ahora</ion-text>
                </h6></label>
              </ion-item>
            </ion-radio-group>
              <ion-row *ngIf="detail && tipoPago == 'pagar_ahora' " class="ion-padding bg-info-pay">
                <h5><ion-text color="vino">Para confirmar su reserva ha de realizarse un pago de </ion-text> <ion-text class="text-bold" color="vino">{{detail.shopping_cart.booking_amount}}€</ion-text></h5>
              </ion-row>
              <ion-item class="color-fondo">
                <ion-checkbox [(ngModel)]="terminos" mode="ios" color="vino" slot="start" class="margin"></ion-checkbox>
                <h6>
                  <ion-text class="">Acepto los terminos y condiciones y la politica de privacidad</ion-text>
                </h6>
              </ion-item>
            </ion-list>
            <ion-button *ngIf="tipoPago == '' || tipoPago == 'solicitud_reserva' " expand="block" color="vino" class="btn" [disabled]="!terminos" (click)="pagar()">Solicitud de Reserva</ion-button>
            <ion-button *ngIf="detail && tipoPago == 'pagar_ahora' " expand="block" color="vino" class="btn" disabled="true" (click)="pagar()">Pagar {{detail.shopping_cart.booking_amount}}€</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="titulos">
          <h5 class="ion-text-left text-bold margin-b-0">
            <ion-text *ngIf="detail" color="vino">{{detail.shopping_cart.items[0].item_description}}</ion-text>
          </h5>
          <h1 class="ion-text-left text-bold margin-t-10 margin-b-0"><br>
            <ion-text>Detalle de la Reserva</ion-text>
          </h1>
        </ion-row>
        <ion-col size="12" class="ion-padding ion-text-center">
          <ion-img *ngIf="detail" [src]="detail.shopping_cart.items[0].photo_full"> </ion-img>
        </ion-col>
        <ion-col size="12" class="ion-padding ion-text-left">
          <h4>
            <ion-text class="text-bold">Incluye:</ion-text>
          </h4>
          <h4>
            <ion-text>Seguro a todo Riesgo</ion-text>
          </h4>
          <h4>
            <ion-text>Incluidos 200km por día</ion-text>
          </h4>
          <h4>
            <ion-text class="text-bold">Lugar de recogida</ion-text>
          </h4>
          <h4 *ngIf="detail">
            <ion-text>{{detail.shopping_cart.pickup_place}}</ion-text>
          </h4>
          <h4>
            <ion-text class="text-bold">Fecha y hora de recogida</ion-text>
          </h4>
          <h4 *ngIf="detail" >
            <ion-text>{{detail.shopping_cart.date_from_full_format}} {{detail.shopping_cart.time_from}}</ion-text>
          </h4>
          <h4>
            <ion-text class="text-bold">Lugar de devolución</ion-text>
          </h4>
          <h4 *ngIf="detail" >
            <ion-text>{{detail.shopping_cart.return_place}}</ion-text>
          </h4>
          <h4>
            <ion-text class="text-bold">Fecha y hora de devolución</ion-text>
          </h4>
          <h4 *ngIf="detail" >
            <ion-text>{{detail.shopping_cart.date_to_full_format}} {{detail.shopping_cart.time_to}}</ion-text>
          </h4>
          <h4>
            <ion-text class="text-bold">Duración del alquiler</ion-text>
          </h4>
          <h4 *ngIf="detail" >
            <ion-text>{{detail.shopping_cart.total_days}} día/s</ion-text>
          </h4>
        </ion-col>
        <ion-col size="12">
          <h4 *ngIf="detail" >
            <ion-text class="text-bold texto-izquierda">VEHÍCULO</ion-text>
            <ion-text class="text-bold texto-derecha">{{detail.shopping_cart.item_cost}}€</ion-text>
          </h4>
        </ion-col>
        <ion-col size="12">
          <h4 *ngIf="detail" >
            <ion-text class="text-bold texto-izquierda">EXTRAS</ion-text>
            <ion-text class="text-bold texto-derecha">{{detail.shopping_cart.extras_cost}}€</ion-text>
          </h4>
        </ion-col>
        <ion-col size="12">
          <h1 *ngIf="detail" >
            <ion-text class="text-bold texto-izquierda" color="vino">TOTAL</ion-text>
            <ion-text class="text-bold texto-derecha" color="vino">{{detail.shopping_cart.total_cost}}€</ion-text>
          </h1>
        </ion-col>
        <ion-button expand="block" color="vino" class="btn margin-t-40">MODIFICAR RESERVA</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="espacio">
    <h6 class="ion-text-center">
      <ion-text class="texto-footer text-color" (click)="gotopoliticas()">Politica de Privacidad</ion-text>
      <ion-text class="text-color"> | </ion-text>
      <ion-text class="texto-footer text-color" (click)="gotopoliticas()">Aviso Legal</ion-text>
    </h6>
  </ion-grid>
</ion-content>