<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="margin-t-10">
        <ion-button class="ico1" fill="clear" size="small" color="vino" (click)="back()">
          <ion-icon name="chevron-back-outline" color="vino"></ion-icon>
        </ion-button>

        <ion-button class="ico2" fill="clear" color="vino" size="small" (click)="openMenu()">
          <ion-icon src="/assets/img/hencok-logomenu1.svg"></ion-icon>
        </ion-button>
        <ion-img class="imagen-logo ion-text-center" src="/assets/img/logo-hencok2.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-padding padding-rl">
        <ion-row class="titulos">
          <h5 class="ion-text-left text-bold margin-b-0">
            <ion-text color="vino">Hencok Barcos</ion-text>
          </h5>
          <h1 class="ion-text-left text-bold margin-t-10 margin-b-0"><br>
            <ion-text>Datos del Conductor</ion-text>
          </h1>
        </ion-row>
          
        <ion-row class="form">
          <ion-col size="12">
            <ion-list lines="none">
              <ion-item class="item-form">
                <ion-input placeholder="Nombre*"></ion-input>
              </ion-item>
              <ion-item class="item-form">
                <ion-input placeholder="Apellidos*"></ion-input>
              </ion-item>
              <ion-item class="item-form">
                <ion-input placeholder="Email*"></ion-input>
              </ion-item>
              <ion-item class="item-form">
                <ion-input placeholder="Confirma tu email"></ion-input>
              </ion-item>
              <ion-item class="item-form">
                <ion-input placeholder="Telefono*"></ion-input>
              </ion-item>
              <ion-item class="item-form">
                <ion-input placeholder="Telefono alternativo*"></ion-input>
              </ion-item>
              <ion-item class="item-form">
                <ion-textarea placeholder="Comentarios*"></ion-textarea>
              </ion-item>
              <ion-item class="color-fondo">
                <ion-checkbox mode="ios" color="vino" slot="start"></ion-checkbox>
                <h6>
                  <ion-text class="">Solicitud de Reserva</ion-text>
                </h6>
              </ion-item>
              <ion-item class="color-fondo">
                <ion-checkbox mode="ios" color="vino" slot="start"></ion-checkbox>
                <h6>
                  <ion-text class="">Pagar ahora</ion-text>
                </h6>
              </ion-item>
              <ion-item class="color-fondo">
                <ion-checkbox mode="ios" color="vino" slot="start" class="margin"></ion-checkbox>
                <h6>
                  <ion-text class="">Acepto los terminos y condiciones y la politica de privacidad</ion-text>
                </h6>
              </ion-item>
            </ion-list>
            <ion-button expand="block" color="vino" class="btn" disabled="true">Solicitud de Reserva</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="titulos">
          <h5 class="ion-text-left text-bold margin-b-0">
            <ion-text color="vino">Mercedes G63</ion-text>
          </h5>
          <h1 class="ion-text-left text-bold margin-t-10 margin-b-0"><br>
            <ion-text>Detalle de la Reserva</ion-text>
          </h1>
        </ion-row>
        <ion-col size="12" class="ion-padding ion-text-center">
          <ion-img src="/assets/img/mercedes-g63.png"> </ion-img>
        </ion-col>
        <ion-col size="12" class="ion-padding ion-text-left">
          <h4>
            <ion-text class="text-bold">Incluye:</ion-text>
          </h4>
          <h4>
            <ion-text>Seguro a todo Riesgo Incluidos 200km por día</ion-text>
          </h4>
          <h4>
            <ion-text class="text-bold">Lugar de recogida</ion-text>
          </h4>
          <h4>
            <ion-text>Ibiza - Polígono Industrial Can Frigole</ion-text>
          </h4>
          <h4>
            <ion-text class="text-bold">Fecha y hora de recogida</ion-text>
          </h4>
          <h4>
            <ion-text>Viernes, 12 Marzo 2021 10:00</ion-text>
          </h4>
          <h4>
            <ion-text class="text-bold">Lugar de devolución</ion-text>
          </h4>
          <h4>
            <ion-text>Ibiza - Polígono Industrial Can Frigole</ion-text>
          </h4>
          <h4>
            <ion-text class="text-bold">Fecha y hora de devolución</ion-text>
          </h4>
          <h4>
            <ion-text>Viernes, 12 Marzo 2021 10:00</ion-text>
          </h4>
          <h4>
            <ion-text class="text-bold">Duración del alquiler</ion-text>
          </h4>
          <h4>
            <ion-text>2 día/s</ion-text>
          </h4>
        </ion-col>
        <ion-col size="12">
          <h4>
            <ion-text class="text-bold texto-izquierda">VEHÍCULO</ion-text>
            <ion-text class="text-bold texto-derecha">700.00€</ion-text>
          </h4>
        </ion-col>
        <ion-col size="12">
          <h4>
            <ion-text class="text-bold texto-izquierda">EXTRAS</ion-text>
            <ion-text class="text-bold texto-derecha">0.00€</ion-text>
          </h4>
        </ion-col>
        <ion-col size="12">
          <h1>
            <ion-text class="text-bold texto-izquierda" color="vino">TOTAL</ion-text>
            <ion-text class="text-bold texto-derecha" color="vino">700.00€</ion-text>
          </h1>
        </ion-col>
        <ion-button expand="block" color="vino" class="btn margin-t-40">MODIFICAR RESERVA</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="espacio">
    <h6 class="ion-text-center">
      <ion-text class="texto-footer text-color" (click)="gotopoliticas()">Politica de Privacidad</ion-text>
      <ion-text class="text-color"> | </ion-text>
      <ion-text class="texto-footer text-color" (click)="gotopoliticas()">Aviso Legal</ion-text>
    </h6>
  </ion-grid>
</ion-content>