<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" side="end" type="overlay" menuId="menu" class="my-custom-menu">
      <ion-content class="">
        <ion-list id="menu-list">
          <ion-row>
            <ion-col size="8">
              <img src="/assets/img/HENCOK-logo2.png">
            </ion-col>
            <ion-col size="4" class="ion-text-right">
              <ion-button fill="clear" color="vino" (click)="closeMenu()">
                <ion-icon slot="icon-only" name="close" class="fs-close"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="titulos-avatar texto1">
            <ion-item button class="avatar" (click)="closeMenu()">
              <ion-avatar slot="start">
                <img src="/assets/img/user.png">
              </ion-avatar>
              <ion-label class="texto1">
                <ion-text color="vino">Bienvenido invitado</ion-text><br>
                <ion-text color="vino" class="texto-footer" (click)="gotologin()">Accede</ion-text>
                <ion-text color="vino"> o </ion-text>
                <ion-text color="vino" class="texto-footer" (click)="gotosignin()">Registrate</ion-text>
              </ion-label>
            </ion-item>
          </ion-row>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" class="list-menu">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" detail="false"
              [class.selected]="selectedIndex == i">
              <ion-icon slot="end" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>