// ion-menu ion-content {
    // --background: var(--ion-item-background, var(--ion-background-color, #fff));
    // --background: #232628;
    
  // }
  ion-menu{
    ion-content{
        --ion-background-color:#232628;
        --background:#232628;
    }
    --background:#232628;
    opacity: 0.95;
  }

  ion-item{
    color: #f3f3f3;
  }
  img{
    display:block;
    margin:auto;
    }
    
  ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }
  
  ion-menu.md ion-list {
    padding: 35px;
  }
  
  ion-menu.md ion-note {
    margin-bottom: 30px;
  }
  
  ion-menu.md ion-list-header,
  ion-menu.md ion-note {
    padding-left: 10px;
  }
  
  // ion-menu.md ion-list#menu-list {
  //   border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
  // }
  
  ion-menu.md ion-list#menu-list ion-list-header {
    font-size: 22px;
    font-weight: 600;
  
    min-height: 20px;
  }
  
  ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;
  
    margin-bottom: 18px;
  
    color: #757575;
  
    min-height: 26px;
  }
  
  ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;
  }
  
  ion-menu.md ion-item ion-icon {
    color: #eee;
  }
  
  ion-menu.md ion-item ion-label {
    font-weight: 700;
  }
  
  ion-menu.ios ion-content {
    --padding-bottom: 20px;
  }
  
  ion-menu.ios ion-list {
    padding: 35px;
  }
  
  ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
  }
  
  ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #eee;
  }
  
  ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
  }
  
  ion-menu.ios ion-list-header,
  ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  ion-menu.ios ion-note {
    margin-bottom: 8px;
  }
  
  ion-note {
    display: inline-block;
    font-size: 16px;
  
    color: var(--ion-color-medium-shade);
  }
  
  ion-item.selected {
    --color: var(--ion-color-primary);
  }
  
  ion-title{
    font-weight: 600px;
    color: white;
    margin-bottom: 5%;
    font-size: 45px;
  }
  ion-menu{
    --width: 100%;
  }
  .avatar ion-label{
    font-size: 16px;
  }
  .avatar ion-button{
    text-decoration: underline #BA0C2F;  
    font-size: 16px;
  }
  .avatar ion-button::part(native){
    padding: 0;
  }
  .avatar ion-avatar{
    width: 50px;
    height: 50px;
  }
  .avatar ion-icon{
    font-size: 30px;
  }
  .list-menu ion-label{
    font-size: 30px;
  }
  .list-menu ion-item{
    border-bottom: 1px solid #eee;
  }
  .titulos-avatar{
    margin-top: 40px;
    margin-bottom: 40px;
  }

.texto1{
  white-space: nowrap;  
  overflow: hidden;
  text-overflow: clip;
  }
  ion-select::part(icon) {

    display: none !important;   
}