<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="margin-t-10">
        <ion-button class="ico1" fill="clear" size="small" color="vino" (click)="back()">
          <ion-icon name="chevron-back-outline" color="vino"></ion-icon>
        </ion-button>

        <ion-button class="ico2" fill="clear" color="vino" size="small" (click)="openMenu()">
          <ion-icon src="/assets/img/hencok-logomenu1.svg"></ion-icon>
        </ion-button>
        <ion-img class="imagen-logo ion-text-center" src="/assets/img/logo-hencok2.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

    
        <ion-col size="12" class="">
          <ion-row class="titulos padding-rl">
            <h5 class="text-bold">
              <ion-text color="vino" class="margin-b-10">Hencok {{'COCHES' | translate}}</ion-text>
            </h5>
          </ion-row>
          <h1 class="text-bold">
            <ion-text *ngIf="cars">{{cars.name}}</ion-text>
          </h1>
        </ion-col>
      
        <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner>
        <ion-col size="12" class="ion-padding">
          <ion-img *ngIf="cars" [src]="cars.photo_path" class="ion-padding"></ion-img>

          <ion-item class="color-fondo" lines="none">
            <ion-row class="padding-rl ion-padding-horizontal">
              <h3 class="margin-t-0">
                <p *ngIf="cars" [innerHTML]="cars.description" class="margin-t-0"></p>
              </h3>
            </ion-row>
          </ion-item>
      
        </ion-col>
  

  <ion-grid class="padding-rl">
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-item class="color-fondo formulario">
          <ion-label class="color-label">{{'LUGAR_DE_ENTREGA' | translate}}</ion-label>
    
          <ion-select [(ngModel)]="pickup_place" doneText="Ok" cancelText="Cancelar" icon="chevron-down-outline"
          (ionChange)="obtenerdevolucion()">
        
          <ion-select-option *ngFor="let entrega of cars2" [value]="entrega.id">
            {{entrega.id}}
          </ion-select-option>
        
        </ion-select>
          <ion-icon src="/assets/img/002-down-arrow1.svg"></ion-icon>
        </ion-item>

        <ion-item class="color-fondo formulario">
          <ion-label class="color-label">{{'LUGAR_DE_DEVOLUCION' | translate}}</ion-label>
          <ion-select [disabled]="!pickup_place" [(ngModel)]="return_place" doneText="Ok" cancelText="Cancelar">
            
            <ion-select-option *ngFor="let devolucion of cars3" [value]="devolucion.id">
              {{devolucion.id}}
            </ion-select-option>

          </ion-select>
          <ion-icon src="/assets/img/002-down-arrow1.svg"></ion-icon>
        </ion-item>

        <ion-item class="color-fondo formulario">
          <ion-label class="color-label">{{'FECHA_DE_ENTREGA' | translate}}</ion-label>
          <ion-datetime [disabled]="!return_place" [(ngModel)]="fecha1"
           doneText="Ok" cancelText="Cancelar" [min]="fechaMinEn" (ionChange)="fechas2()" 
           displayFormat="DD/MMM/YYYY"
           monthShortNames="{{'MESES' | translate}}"
           ></ion-datetime>
          <ion-icon src="/assets/img/001-calendar1.svg"></ion-icon>
        </ion-item>

        <ion-item class="color-fondo formulario">
          <ion-label class="color-label">{{'FECHA_DE_DEVOLUCION' | translate}}</ion-label>
          <ion-datetime  [(ngModel)]="fecha2" doneText="Ok" cancelText="Cancelar" 
          [disabled]="!fecha1" [min]="fechaMinDe" [max]="fechaMaxEn" (ionChange)="obtenerHoras()"
           displayFormat="DD/MMM/YYYY"
           monthShortNames="{{'MESES' | translate}}"
           ></ion-datetime>
          <ion-icon src="/assets/img/001-calendar1.svg"></ion-icon>
        </ion-item>

        <ion-item class="color-fondo formulario">
          <ion-label class="color-label">{{'HORA_DE_ENTREGA' | translate}}</ion-label>
          <ion-datetime doneText="Ok" [(ngModel)]="horaEntreg" cancelText="Cancelar" minuteValues="00,30" 
          [min]="horaMinEntrega" [disabled]="!fecha1" [max]="horaMaxEntrega" displayFormat="HH:mm"></ion-datetime>
          <ion-icon src="/assets/img/003-clock1.svg"></ion-icon>
        </ion-item>

        <ion-item class="color-fondo formulario">
          <ion-label class="color-label">{{'HORA_DE_DEVOLUCION' | translate}}</ion-label>

          <ion-datetime doneText="Ok" [disabled]="!horaEntreg" [(ngModel)]="horaDev" 
          [min]="horaMinDevolucion" [max]="horaMaxDevolucion"
          cancelText="Cancelar" minuteValues="00,30" displayFormat="HH:mm"></ion-datetime>
          <ion-icon src="/assets/img/003-clock1.svg"></ion-icon>
        </ion-item>

        <div class="ion-text-center width-100">
          <ion-spinner *ngIf="spinnerForm" color="vino" name="crescent"></ion-spinner>
        </div>

        <ion-button expand="block" class="btn" (click)="reserva()" [disabled]="spinnerForm">{{'RESERVAR' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="espacio">
    <h6 class="ion-text-center">
      <ion-text class="texto-footer text-color" (click)="gotopoliticas()">{{'POLITICA_PRIVACIDAD' | translate}}</ion-text>
      <ion-text class="text-color"> | </ion-text>
      <ion-text class="texto-footer text-color" (click)="gotoaviso()">{{'AVISO_LEGAL' | translate}}</ion-text>
    </h6>
  </ion-grid>
</ion-content>