img{
    width: 190px; height: 75px;
}

.btn1{
    --background: #BA0C2F;
    font-size: 12px;
    float: right;
    width: 100px;
    --border-radius: 20px 20px 20px 20px;
}

.text-centro{
    font-size: xx-large;
    font-weight: 700;
}