<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-padding padding-rl">

        <ion-row>
          <ion-col size="8" class="">
            <img class="" src="/assets/img/logo-hencok2.png">
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" color="vino" (click)="openMenu()">
              <ion-icon slot="icon-only" src="/assets/img/hencok-logomenu1.svg"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="titulos">
          <h5 class="ion-text-left text-bold margin-b-0">
            <ion-text color="vino">Hencok</ion-text>
          </h5>
        </ion-row>
        <h1 class="ion-text-left text-bold margin-t-10 margin-b-0">
          <ion-text>Tus Reservas</ion-text>
        </h1>
        <h3 class="ion-text-left text-bold margin-t-10 margin-b-0">
          <ion-text>{{'COCHES' | translate }}</ion-text>
        </h3>

        <ion-col size="12" class="ion-text-center">
          <ion-spinner *ngIf="spinnerForm" name="crescent"></ion-spinner>
        </ion-col>
        <ion-col size="12">
          <ion-item class="color-fondo" *ngFor="let reserva of datosCars">
            <ul>
              <li>
                <input type="checkbox" checked>
                <i></i>
                <h5 class="ion-text-left text-bold margin">
                  <ion-text color="vino">{{reserva.item_description}}</ion-text><br>
                </h5>
                <h5 class="ion-text-left text-bold">
                  <ion-text>{{reserva.date_from}} - {{reserva.date_to}}</ion-text>
                </h5>
                <p>
                  <label class="text-bold">
                    {{'LUGAR_DE_RECOGIDA' | translate}}
                  </label><br>
                  <label>{{reserva.pickup_place}}</label><br>
                  <label class="text-bold">
                    {{'FECHA_Y_HORA_DE_RECOGIDA' | translate}}
                  </label><br>
                  <label>
                    {{reserva.date_from}} - {{reserva.time_from}}
                  </label><br>
                  <label class="text-bold">
                    {{'LUGAR_DE_DEVOLUCION' | translate}}
                  </label><br>
                  <label>
                    {{reserva.return_place}}
                  </label><br>
                  <label class="text-bold">
                    {{'FECHA_Y_HORA_DE_DEVOLUCION' | translate}}
                  </label><br>
                  <label>
                    {{reserva.date_to}} - {{reserva.time_to}}
                  </label><br>
                  <!-- <label class="text-bold">
                    {{'DURACION_DEL_ALQUILER' | translate}}
                  </label><br>
                  <label>?? </label> -->
                  <br>
                  <!-- <ion-button size="default" color="vino" class="btn1">{{'MODIFICAR' | translate}}</ion-button>
                  <ion-button size="default" class="btn2">{{'CANCELAR' | translate}}</ion-button> -->
                </p>
              </li>
            </ul>
          </ion-item>
        </ion-col>

        <h3 class="ion-text-left text-bold margin-t-10 margin-b-0">
          <ion-text>{{'BARCOS' | translate}}</ion-text>
        </h3>

        <ion-col size="12" class="ion-text-center">
          <ion-spinner *ngIf="spinnerForm" name="crescent"></ion-spinner>
        </ion-col>
        <ion-col size="12">
          <ion-item class="color-fondo" *ngFor="let reservab of datosBoats">
            <ul>
              <li>
                <input type="checkbox" checked>
                <i></i>
                <h5 class="ion-text-left text-bold margin">
                  <ion-text color="vino">{{reservab.item_description}}</ion-text><br>
                </h5>
                <h5 class="ion-text-left text-bold">
                  <ion-text>{{reservab.date_from}} - {{reservab.date_to}}</ion-text>
                </h5>
                <p>
                  <label class="text-bold">
                    {{'FECHA_Y_HORA_DE_RECOGIDA' | translate}}
                  </label><br>
                  <label>
                    {{reservab.date_from}} - {{reservab.time_from}}
                  </label><br>
                  <label class="text-bold">
                    {{'FECHA_Y_HORA_DE_DEVOLUCION' | translate}}
                  </label><br>
                  <label>
                    {{reservab.date_to}} - {{reservab.time_to}}
                  </label><br>
                  <!-- <label class="text-bold">
                    {{'DURACION_DEL_ALQUILER' | translate}}
                  </label><br>
                  <label>?? </label> -->
                  <br>
                  <!-- <ion-button size="default" color="vino" class="btn1">{{'MODIFICAR' | translate}}</ion-button>
                  <ion-button size="default" class="btn2">{{'CANCELAR' | translate}}</ion-button> -->
                </p>
              </li>
            </ul>
          </ion-item>
        </ion-col>

      </ion-col>


    </ion-row>
  </ion-grid>

  <ion-grid>
    <h6 class="ion-text-center footer">
      <ion-text class="texto-footer" color="vino" (click)="gotopoliticas()">{{'POLITICA_PRIVACIDAD' | translate}}
      </ion-text>
      <ion-text color="vino"> | </ion-text>
      <ion-text class="texto-footer" color="vino" (click)="gotopoliticas()">{{'AVISO_LEGAL' | translate}}</ion-text>
    </h6>
  </ion-grid>

</ion-content>