<ion-content padding class="bg-content">

    <ion-grid class="bg-home1">
      <ion-row>
        <ion-col size="12" class="ion-padding">

            <img src="/assets/img/HENCOK-logo2.png">
            <ion-button class="btn1" routerLink="/cars">Log in</ion-button>  

          <h2 class="ion-text-left"><ion-text class="text-color text1">Hencok</ion-text></h2>
          <h1 class="ion-text-center text-centro"><ion-text color="light">¿Sabes qué quieres conducir?</ion-text></h1>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button size="large" fill="outline" color="light" class="entre-img2" routerLink="/cars">Coches</ion-button>
    <ion-button size="large" fill="outline" color="light" class="entre-img1" routerLink="/yates">Barcos</ion-button>

    <ion-grid class="bg-home2">
      <h6 class="ion-text-center footer">
        <ion-text class="texto-footer text-color" (click)="go('')">Politica de Privacidad</ion-text>
        <ion-text class="text-color"> | </ion-text>
        <ion-text class="texto-footer text-color" (click)="go('')">Aviso Legal</ion-text>
      </h6>
    </ion-grid>
</ion-content>
